<section class="welcome_area p_120" id="about">
  <div class="container">
    <div class="row welcome_inner">
      <div class="col-lg-12">
        <div class="welcome_text">
          <h4>{{ title }}</h4>
          <p>
            {{ description }}
          </p>
          <div>
            {{ occupationArea.description}}
            <ul>
              <li *ngFor="let area of occupationArea.areas">{{ area}}</li>
            </ul>
          </div>
          <p>
            {{ hireMeText }}
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>