<section class="mytabs_area p_120" id="experience">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#experience-tab" role="tab"
                        aria-controls="experience-tab" aria-selected="true">{{ experience.title }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#education-tab" role="tab" aria-controls="education-tab"
                        aria-selected="false">{{ education.title }}
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="experience-tab" role="tabpanel"
                    aria-labelledby="experience-tab">
                    <ul class="list">
                        <li *ngFor="let item of experience.experienceList">
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>{{ item.start }} - {{ item.end }}</p>
                                </div>
                                <div class="media-body">
                                    <h4>{{ item.title }}</h4>
                                    <div class="sub-title">{{ item.subTitle }}</div>
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="education-tab" role="tabpanel" aria-labelledby="education-tab">
                    <ul class="list">
                        <li *ngFor="let item of education.educationList">
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>{{ item.start }} - {{ item.end }}</p>
                                </div>
                                <div class="media-body">
                                    <h4>{{ item.title }}</h4>
                                    <div class="sub-title">{{ item.subTitle }}</div>
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>